<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbd.cbdcompany.dao.CompanyDao">
    <resultMap id="cpyMap" type="com.cbd.cbdcommoninterface.pojo.company.CompanyInfo">
        <result property="companyID" column="companyID"/>
        <result property="companyName" column="companyName"/>
        <result property="companyPhone" column="companyPhone"/>
        <result property="companyCode" column="companyCode"/>
        <result property="companyMail" column="companyMail"/>
        <result property="companyTypeID" column="companyTypeID"/>
        <result property="companyManagerID" column="companyManagerID"/>
        <result property="companyProvince" column="companyProvince"/>
        <result property="companyCity" column="companyCity"/>
        <result property="companyDistrict" column="companyDistrict"/>
        <result property="companylevel" column="companylevel"/>
        <result property="lft" column="lft"/>
        <result property="rgt" column="rgt"/>
    </resultMap>

    <select id="findCompanyInfoByCompanyID" resultMap="cpyMap">
        select *
        from companyInfo
        where companyID = #{companyID}
    </select>

    <select id="findCompanyInfoByCompanyName" resultMap="cpyMap">
        select *
        from companyInfo
        where companyName = #{companyName}
    </select>

    <select id="findAllCompanyIDByCompanyID" resultType="java.lang.String">
        select companyID
        from companyInfo
        where lft BETWEEN #{lft} and #{rgt}
        order by lft ASC
    </select>

    <select id="getUpCompanyIDByCompanyID" resultType="java.lang.String">
        select companyID
        from companyInfo
        where lft &lt;= #{lft} and rgt &gt;= #{rgt}
        order by lft ASC
    </select>

    <select id="getGradeCompanyList" resultMap="cpyMap">
        select *
        from companyInfo
        where lft BETWEEN #{lft} and #{rgt}
        order by lft ASC
    </select>
</mapper>