<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbd.salesapp.dao.messagelist.MessageListDao">
    <select id="getList" parameterType="java.lang.Integer" resultType="com.cbd.cbdcommoninterface.pojo.salesapp.messagelist.OrderInfoDO">
        SELECT o.id,o.orderTime,u.userName as name ,o.orderTypeCode,o.orderStateTypeCode
        FROM orderinfo o
        LEFT JOIN user u
        ON o.installerId = u.ID
        <if test="null!=orderTypeCode">
            WHERE o.orderTypeCode=#{orderTypeCode}
        </if>
        ORDER BY o.orderStateTypeCode ASC
    </select>

    <select id="getOrderInfo" parameterType="java.lang.Integer" resultType="com.cbd.cbdcommoninterface.response.salesapp.messagelist.OrderInfoVO">
        SELECT o.id,o.orderTime,o.orderAddr,o.carOwnerName,o.phoneNumber AS carOwnerNumber,u.userName as name ,u.phoneNum as phoneNumber,o.orderTypeCode,o.orderStateTypeCode
        FROM orderinfo o
        LEFT JOIN user u ON o.installerId = u.ID
        WHERE o.id =#{id};
    </select>

</mapper>