<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbd.salesapp.dao.messagelist.MessageListDao">
    <select id="getList" parameterType="java.lang.Integer" resultType="com.cbd.cbdcommoninterface.pojo.salesapp.messagelist.OrderInfoDO">
        SELECT o.id,o.orderTime,i.name,o.orderTypeCode,o.orderStateTypeCode
        FROM orderinfo o
        LEFT JOIN installerinfo i
        ON o.installerId = i.id
        <if test="null!=orderTypeCode">
            WHERE o.orderTypeCode=#{orderTypeCode}
        </if>
        ORDER BY o.orderStateTypeCode ASC
    </select>

    <select id="getOrderInfo" parameterType="java.lang.Integer" resultType="com.cbd.cbdcommoninterface.response.salesapp.messagelist.OrderInfoVO">
        SELECT o.id,o.orderTime,o.orderAddr,o.carOwnerName,o.phoneNumber AS carOwnerNumber,i.name,i.phoneNumber,o.orderTypeCode,o.orderStateTypeCode
        FROM orderinfo o
        LEFT JOIN installerinfo i ON o.installerId = i.id
        WHERE o.id =#{id};
    </select>

</mapper>