<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbd.installerapp.dao.waitingtask.InstallOrderDao">
    <select id="findDevId" resultType="com.cbd.cbdcommoninterface.pojo.installerapp.waitingtask.DevIdDO">
        SELECT id,devId,simId
        FROM installerhasdev
        WHERE installerId = #{installerId} AND orderId = #{orderId} AND isInstall = '-1';
    </select>

</mapper>